@import "../common/commonStyles";

.about {
  display: block;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}

.about-inner {
  display: block;
  position: relative;

  &__header {
    @include about;
  }

  &__item-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    margin-left: 58px;
    position: relative;

    .text-container{
      display: flex;
      flex-direction: column;
      height: 510px;
      width: 675px;
      padding-right: 100px;

      @include below($norm){
        height: 250px;
        width: 405px;
      }

      h2 {
        @include title(40pt);
        margin: 0 0 20px 0;

        @include below($norm){
          @include title(28pt);
          margin: 0;
        }
      }

      p {
        @include regular(22pt);
        margin: 20px 0;

        @include below($norm){
          @include regular(12pt);
        }
      }
    }

    .second {
      justify-content: center;
      text-align: right;
      margin: 0;
      padding: 0 0 0 200px;
      width: 780px;

      @include below($norm){
        width: 509px;
        padding: 85px 0 0 132px;
      }
    }

    .img-right{
      display: block;

      img{
        width: 780px;

        @include below($norm){
          width: 463px;
        }
      }
    }

    .img-left{
      width: 675px;

      @include below($norm){
        width: 360px;

        img {
          width: 100%;
        }
      }
    }

    .square{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 262px;
      margin: auto;
      width: 255px;
      height: 470px;
      border: $color-orange2 2px solid;

      @include below($norm){
        width: 185px;
        right: 205px;
        height: 300px;
      }

      &__icon{
        height: 50%;
        padding: 81px 43px;

        @include below($norm){
          padding: 50px 18px;
        }

        &:nth-child(2){
          padding: 73px 73px 73px 133px;

          @include below($norm){
            padding: 35px 100px 100px;
          }
        }
      }
    }
  }
}

.footer-wrap{
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  overflow: hidden;

  &__img {
    z-index: 1;
    position: relative;
    color: gray;
    background: white;

    @include below($norm){
      img{
        width: 1600px;
      }
    }
    }
}

