@import "../common/commonStyles";

.footer{
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;

  &__header{
    @include about;
    margin-bottom: 50px;
  }

  &__kontakts{
    display: flex;
    justify-content: space-between;
    margin: 0 9%;
    align-items: center;


    .kontakt-item{
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-child(2),
      &:nth-child(3){
        padding-top: 25px;
      }

      label{
        display: block;
        @include regular(16pt);
        color: #666666;
        font-weight: 700;
        text-transform: uppercase;
        @include below($norm){
          @include regular(13pt);
        }
      }

      &__wrap{
        display: flex;
        justify-content: center;
        flex-direction: row;

        .icon{
          display: flex;
          text-align: center;
        }

        .kontakt-text{
          display: flex;
          margin-left: 50px;
          position: relative;
          @include below($norm){
            margin-left: 20px;
          }

          p{
            @include regular(14pt);
            color: #666666;
            @include below($norm){
              @include regular(11pt);
              color: #666666;
            }
          }

          &:before{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            width: 1px;
            height: 70%;
            background-color: #999999;
            bottom: 0;
            margin: auto 0;
          }
        }
      }
    }
  }

  .copypasta{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50px;

    p{
      @include regular(12pt);
      color: #999999;
    }
  }

  &__form-partners-wrap{
    display: flex;
    position: relative;
    margin: 0 9%;
    margin-top: 30px;
    padding-bottom: 120px;
    justify-content: space-between;

    .contact-form{
      display: flex;
      flex-direction: column;

      label{
        @include regular(16pt);
        color: #666666;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
      }
      form{
        display: flex;
        border: #999999 solid 2px;
        padding: 10px;
        position: relative;

        .input-wrap {
          display: block;
          margin: 20px;

          input {
            display: block;
            width: 450px;
            padding: 5px;
            height: 29px;

            @include below($norm){
              width: 250px;
            }

            &:active,
            &:focus{
              outline: none;
              resize: none;
            }

          }
          label {
            @include regular(14pt);
            color: #666666;
            text-transform: none;
            display: block;

            span{
              @include regular(10pt);
              color: #666666;
              text-transform: none;
            }
          }
          textarea{
            resize: none;

            @include below($norm){
              width: 200px;
            }

            &:active,
            &:focus{
              outline: none;
              resize: none;
            }
          }
        }
        button{
          background: #999999;
          width: 115px;
          height: 40px;
          text-align: center;
          @include regular(14pt);
          font-weight: 700;
          color: #ffffff;
          text-transform: uppercase;
          border: none;
          position: absolute;
          bottom: -54px;
          right: 0;
          display: block;
          cursor: pointer;

          &:active,
          &:focus{
            outline: none;
            resize: none;
          }

          &:hover{
            background: inherit;
            border: #999999 2px solid;
            color: #999999;
            transition: 1s;
          }
        }
      }

    }
    .partners{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 4%;

      &__left{
        display: flex;
      }

      &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        align-items: start;

        label{
          display: flex;
          @include regular(12pt);
          color: #999999;
          text-transform: uppercase;
          font-weight: 700;
          margin: 10px 0;
          @include below($norm){
            @include regular(10pt);
            color: #999999;
            text-transform: uppercase;
            font-weight: 700;
            margin: 10px 0;
          }

        }
        .imgFirst {
          margin-bottom: 30px;
          width: 150px;
        }

        .imgLake{
          width: 150px;
        }

        .imgSecond{
          width: 150px;
        }

        image{
          display: flex;
        }
      }
    }
  }
}